@page
@model OnlineBookStore.Pages.Book.IndexModel
@{

}

<div>@Model.Book.Number</div>
<div>@Model.Book.Name</div>
<div>@Model.Book.Price</div>
<div>@Model.Book.Authors</div>
<div>@Model.Book.Sales</div>
<div>@Model.Book.Introduction</div>
