@page
@model OnlineBookStore.Pages.Book.SearchModel
@{
    ViewData["Title"] = "书籍搜索结果页面";
}

<head>
    <link rel="stylesheet" href="~/css/content.css" asp-append-version="true" />
</head>

<div class="page">

    <main class="main-content">
        <div class="features-area">
            <div class="content-container">
                <span class="content-title">
                    搜索图书📕或者作者
                </span>
                <div class="content-body">
                    <form method="get" asp-page="~/Book/Search">
                        <div class="search-bar">
                            <input class="search-input" type="text" name="keyWord" placeholder="请输入书名或作者..." />
                            <button class="search-button" type="submit">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content-container">
                <span class="content-title">
                    书籍搜索结果📕
                </span>
                <div class="book-grid">
                    @foreach (var book in Model.Books)
                    {
                        <a class="book-card" asp-page="/Book/Index" asp-route-BookNumber="@book.Number">
                            <div class="book-cover-wrapper">
                                @if (string.IsNullOrEmpty(book.CoverImageUrl) == false)
                                {
                                    <img src="@book.CoverImageUrl" alt="@book.Name" class="book-cover-image"
                                         onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';" />
                                    <!--如果封面url为空,加载得比较慢或者是不可用了,则使用简便灰色作为封面-->
                                    <div class="book-cover-placeholder">
                                        <span class="book-title-overlay">@book.Name</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="book-cover-placeholder-display">
                                        <span class="book-title-overlay">@book.Name</span>
                                    </div>
                                }
                            </div>
                        </a>
                    }
                </div>

                <div class="page-change-body">
                    <!-- 上一页按钮 -->
                    <a asp-page="./Book/Search" asp-route-keyWord="@Model.KeyWord" asp-route-pageIndex="@(Model.PageIndex - 1)"
                       class="next-last-page-btn"
                       disabled="@(Model.PageIndex <= 1)">
                        上一页
                    </a>

                    <!-- 下一页按钮 -->
                    <a asp-page="./Book/Search" asp-route-keyWord="@Model.KeyWord" asp-route-pageIndex="@(Model.PageIndex + 1)"
                       class="next-last-page-btn">
                        下一页
                    </a>
                </div>

            </div>
        </div>
    </main>
</div>
